<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"/>
<title>FORM</title>
</head>
<body>
	<h1>FORMULARIO 2</h1>
	<form action="#" th:action="@{/example8/addperson}" th:object="${person}" method="post">
		<p>
			NAME:
			<input type="text" th:field="*{name}"/>
		</p>
		<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name has errors.</p>
		<p>
			AGE:
			<input type="number" th:field="*{age}"/>
		</p>
		<p th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age has errors.</p>
		<p>
			<button type="submit" value="Submit">SUBMIT</button>
		</p>
	</form>

</body>
</html>